@font-face {
  font-family: "PPMori-Regular";
  src: url("/font-pp_mori/PPMori-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PPMori-Extralight";
  src: url("/font-pp_mori/PPMori-Extralight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PPMori-SemiBold";
  src: url("/font-pp_mori/PPMori-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PPMori-RegularItalic";
  src: url("/font-pp_mori/PPMori-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  background-color: #101010;
}
html * {
  z-index: 0;
}

body {
  background-color: #101010;
  color: #f6f6f6;
  font-family: "PPMori-Regular";
  letter-spacing: 8%;
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: #101010;
}

body::-webkit-scrollbar-thumb {
  background-color: #101010;
  border-radius: 0;
  border-right: 1px solid #f6f6f6;
}

.cta {
  position: relative;
  font-family: "PPMori-RegularItalic";
  letter-spacing: 8%;
  font-size: 16px;
  border: solid 1px #f6f6f6;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: #f6f6f6;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
  transition-duration: 0.3s;
  transition-delay: 0.35s;
}

.cta:hover {
  color: #101010;
}

.cta::after {
  content: url("/pictures/arrow.svg");
  mix-blend-mode: difference;
}

.cta:before {
  position: absolute;
  display: block;
  content: "";
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.cta:hover:before {
  transform: unset;
}

@media screen and (max-width: 55rem) {
  body {
    font-size: 16px;
    padding: 0 3rem 0 3rem;
  }
  .cta {
    font-size: 14px;
  }
}
#hero {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
#hero *:not(img, span) {
  opacity: 0;
  animation: opacity-hero 2s ease-in-out forwards;
}
#hero h1 {
  overflow: hidden;
  font-size: 56px;
  display: flex;
}
#hero h1 span {
  display: block;
  transform: translateY(100%);
  animation: h1 2s ease-in-out 1.5s forwards;
}
#hero .paragraphes {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
  line-height: 24px;
}
#hero .paragraphes h3 {
  font-family: "PPMori-Extralight";
  letter-spacing: 8%;
  font-size: 28px;
}
#hero img {
  height: 0;
  opacity: 0;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  animation: img-hero 2s ease-in-out 1.5s forwards;
}

@media screen and (max-width: 55rem) {
  #hero {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  #hero *:not(img, span) {
    opacity: 1;
    animation: unset;
  }
  #hero h1 {
    font-size: 40px;
  }
  #hero h1 span {
    display: block;
    transform: unset;
    animation: unset;
  }
  #hero .paragraphes br {
    display: none;
  }
  #hero .paragraphes h3 {
    font-size: 24px;
  }
  #hero img {
    opacity: 1;
    height: unset;
    width: 10rem;
    animation: unset;
  }
}
@keyframes h1 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: unset;
    opacity: 1;
  }
}
@keyframes opacity-hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes img-hero {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 19rem;
    opacity: 1;
  }
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.project h2 {
  font-size: 40px;
  text-align: center;
}
.project h3 {
  font-family: "PPMori-Extralight";
  letter-spacing: 8%;
  font-size: 24px;
  margin-top: 0.5rem;
  text-align: center;
}
.project .content {
  margin-top: 4rem;
  display: flex;
  gap: 3rem;
}
.project .content img {
  width: 20rem;
}
.project .content .paragraphes {
  display: flex;
  flex-direction: column;
  gap: 22px;
  line-height: 24px;
}
.project .content .paragraphes .buttons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 55rem) {
  .project {
    padding-top: 8rem;
    align-items: start;
  }
  .project h2 {
    font-size: 28px;
    text-align: start;
  }
  .project h3 {
    font-size: 20px;
  }
  .project .content {
    margin-top: 1.5rem;
    flex-direction: column-reverse;
    gap: 22px;
  }
  .project .content .paragraphes {
    font-size: 14px;
  }
  .project .content .paragraphes br {
    display: none;
  }
  .project .content .paragraphes .buttons {
    flex-direction: column;
    align-items: start;
    gap: 22px;
  }
  .project .content img {
    width: 100%;
    box-sizing: border-box;
  }
}
footer {
  margin-top: 10rem;
  border-top: solid 1px #f6f6f6;
}
footer .paragraphes {
  margin: 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  font-family: "PPMori-Extralight";
  letter-spacing: 8%;
  font-size: 22px;
}
footer .paragraphes a {
  font-family: "PPMori-Regular";
  color: #f6f6f6;
}
footer .copyright {
  border-top: solid 1px #f6f6f6;
  padding: 0.5rem 0 0.5rem;
  text-align: center;
  font-family: "PPMori-Extralight";
  letter-spacing: 8%;
  font-size: 16px;
}

@media screen and (max-width: 55rem) {
  footer {
    margin-top: 8rem;
  }
  footer .paragraphes {
    font-size: 20px;
    margin: 2.5rem 0 2.5rem;
  }
  footer .copyright {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */