footer {
  margin-top: 10rem;
  border-top: solid 1px $white;

  .paragraphes {
    margin: 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    @include font($light, 22px);

    a {
      font-family: $regular;
      color: $white;
    }
  }

  .copyright {
    border-top: solid 1px $white;
    padding: 0.5rem 0 0.5rem;
    text-align: center;
    @include font($light, 16px);
  }
}

@media screen and (max-width: 55rem) {
  footer {
    .paragraphes {
      font-size: 18px;
      margin: 2.5rem 0 2.5rem;
    }
    .copyright {
      font-size: 12px;
    }
  }
}
