#hero {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  *:not(img, span) {
    opacity: 0;
    animation: opacity-hero 1.5s ease-in-out 0.5s forwards;
  }

  h1 {
    overflow: hidden;
    font-size: 56px;
    display: flex;

    span {
      display: block;
      transform: translateY(100%);
      animation: h1 2s ease-in-out 2s forwards;
    }
  }

  .paragraphes {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
    line-height: 24px;

    h3 {
      @include font($light, 28px);
    }
  }

  img {
    height: 0;
    opacity: 0;
    width: 15rem;
    object-fit: cover;
    animation: img-hero 2s ease-in-out 2s forwards;
  }
}

@media screen and (max-width: 55rem) {
  #hero {
    padding: 0 3rem 0 3rem;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    *:not(img, span) {
      opacity: 1;
      animation: unset;
    }

    h1 {
      font-size: 40px;

      span {
        display: block;
        transform: unset;
        animation: unset;
      }
    }

    .paragraphes {
      br {
        display: none;
      }

      h3 {
        font-size: 24px;
      }
    }

    img {
      opacity: 1;
      height: unset;
      width: 10rem;
      animation: unset;
    }
  }
}

@keyframes h1 {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: unset;
    opacity: 1;
  }
}

@keyframes opacity-hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes img-hero {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 19rem;
    opacity: 1;
  }
}
